@import 'styles/vars.scss';
@import '../About.scss';

.about.coaching {
  .container {
    margin-top: 55px;
    background-color: $white;

    h1 {
      font-family: Lora;
      font-size: 61px;
      font-weight: 100;
    }
  }
}
