@import "styles/vars.scss";

.coaching {
  .container {
    .coaching-hero {
      padding: 124px 0 200px 0;
      background-image: url("../../images/coaching-hero.png");
      background-position: center;
      background-size: cover;
      min-height: 640px;
      background-color: $black;
      color: $white;
      text-align: left;
      
      .head {
        margin: 0 6%;
        width: 60vw;
        font-family: Lora;
        font-size: 61px;
        line-height: 1.18;
        letter-spacing: 1.2px;
      }
      
      .sub {
        margin: 0 6%;
        width: 60vw;
        font-size: 18px;
        // margin: 28px 32% 0 32%;
      }
    }

    .about-section {
      display: flex;
      padding: 78px 15% 78px 15%;
      border-bottom: 1px solid $pinkish-grey;

      .left {
        float: left;
        margin-right: 72px;
      }

      .right {
        padding-top: 30px;
        h1 {
          font-family: Lora;
          font-size: 40px;
          font-weight: 100;
        }
        p {
          font-family: Roboto;
          font-size: 18px;
        }
      }
    }

    .form-wrapper {
      margin: 0 15%;
    }
  }
}
