@import "styles/vars.scss";

.newsletter-form.coaching,
.contact-form.coaching {
  h1 {
    font-family: Lora;
    font-size: 61px;
    font-weight: 100;
  }

  input,
  textarea {
    color: $black;
    border: 1px solid $black;
    background-color: $white;
  }

  button {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $white;
    color: $black;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $black;
    }
  }
}
