@import '../FullPost.scss';

.full-post-wrapper {
  .full-post.coaching {
    .image-header {
      width: 80%;
    }

    .title {
      font-family: Lora;
      font-size: 62px;
      font-weight: 100;
      text-align: center;
    }

    .labels {
      font-family: Roboto;
      font-size: 14px;
      margin-top: 50px;
    }
  }
}
