@import 'styles/vars.scss';
@import '../writing/Header.scss';

header.coaching .header-wrapper {
  .links {
    position: absolute;
  }

  .logo-container .logo {
    background-image: url('../../images/ela_black.svg');
  }

      .icons-wrapper {
        width: 100px;

        .icons {
          display: flex;
          align-items: center;
          text-align: left;
          justify-content: flex-start;

        .icon {
          display: block;
          width: 22px;
          height: 22px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 22px;
          font-size: 0;
          margin-right: 19px;
          cursor: pointer;

          &.selected {
            &.overview {
              background-image: url('../../icons/white_multiple_filled.svg');
            }
            &.single {
              background-image: url('../../icons/white_single_filled.svg');
            }
          }

          &.overview {
            background-image: url('../../icons/white_multiple_empty.svg');
          }
          
          &.single {
            background-image: url('../../icons/white_single_empty.svg');
          }
        }
        }
      }
}


