@import "styles/vars.scss";

.overview-post-list.coaching {
    .post {
        .title {
            color: $black;
        }

        .info {
            color: $white;
        }


    }
}

@media all and (min-width: $desktop) {
    .overview-post-list.coaching {
        .post {
            .title {
                color: $black;
            }

            .info {
                color: $white;
            }

            &:hover {
                background-color: $black;

                .title {
                    color: $white;
                }

                .info {
                    display: block;
                }
            }
        }
    }
}
