@import 'styles/vars.scss';
@import '../writing/PostHeader.scss';

.post-header.coaching {
  background-color: $white;
  border-bottom: 0.5px solid $pinkish-grey;

  .currently-reading {
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: 0.8px;
    color: $black;
  }

  .post-title {
    font-family: Lora;
    font-size: 18px;
    color: $black;
  }
}
