@import "styles/vars.scss";
@import "../SinglePost.scss";
.single-post.coaching {


  .labels {
    font-family: Roboto;
    font-size: 14px; // margin-top: 500px;
  }
  .title {
    font-family: Lora;
    text-align: center;
    margin: 0 0;
    font-weight: 100;
  }
  .read-more-link {
    margin-top: 59px;
  } 

}