@import 'styles/vars.scss';
@import '../SinglePost.scss';

.single-post.coaching {
  min-height: 100vh;
  background-position: top 180px;

  .labels {
    font-family: Roboto;
    font-size: 14px;
    margin-top: 500px;
  }

  .title {
    font-family: Lora;
    font-size: 40px;
    text-align: center;
  }
}
