@import "styles/vars.scss";
@import "../SinglePost.scss";
.single-post.coaching {

  
  .labels {
    font-family: Roboto;
    font-size: 14px; // margin-top: 500px;
  }
  .title {
    font-family: Lora;
    font-size: 40px;
    text-align: center;
    margin: 0 20%;
    font-weight: 100;
  }
  .read-more-link {
    margin-top: 59px;
  } 
  
  .image-wrapper {
    width: 80%; 
  }
}