@import "styles/vars.scss";

.testimonials {
    background-color: $black;
    padding: 68px 5% 70px 5%;
    color: $white;

    // display: flex;
    // flex-flow: column;
    // justify-content: center;
    // align-items: center;

    .header {
        font-family: Lora;
        font-size: 40px;
        text-align: center;
    }

    .items {
        margin-top: 56px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;

        .item {
            width: 100vw;
            margin: 0 0px 40px 0px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            .author-picture {
                flex: 1;
                height: 84px;
                width: 84px;
                border-radius: 42px;
                margin: 16px;
            }

            .testimonial {
                flex: 1;

                p {
                    font-family: Roboto;
                    font-size: 18px;
                    text-align: center;
                }
            }

            .author {
                flex: 1;
                font-family: Roboto;
                font-size: 14px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        button {
            cursor: pointer;
            color: $white;
            background: $black;
            width: 144px;
            height: 44px;
            border-radius: 22.5px;
            border: solid 2px #ffffff;
            border: solid 2px $white;
            font-family: Roboto;
            font-size: 14px;
        }
    }
}

@media all and (min-width: $desktop) {
    .testimonials {
        .header {}

        .items {
            justify-content: center;
            align-items: flex-start;

            .item {
                width: calc(30vw);
                padding: 0 25px 40px 25px;

                .author-picture {}

                .testimonial {
                    p {}
                }

                .author {}
            }
        }

        .button {
            button {}
        }
    }
}
