.ec-single-post-list {
    &__nav {
        font-size: 2em;
        color: $white;
    }

    &__nav-prev {
        position: fixed;
        bottom: 20px;
        height: 40px;
        width: 50px;
        text-align: center;
        left: calc(50vw - (155px / 2 ) - 70px);
    }
    
    &__nav-next {
        position: fixed;
        bottom: 20px;
        height: 40px;
        width: 50px;
        text-align: center;
        left: calc(50vw + (155px / 2 ) + 30px);
    }
}
