/***********************************************
                COLOR PALETTE
************************************************/
$black: #1b1b1b;
$white: #ffffff;
$grey: #5a5a5a;
$superblack: #131313;
$supergrey: #2d2d2d;
$brownish-grey: #646464;
$grad-white: #f2f5f7;
$dark-sky-blue: #50c9e3;
$grapefruit: #ff5454;
$grayish: #b4b4b4;

$animation-duration: 0.4s;
$animation-type: ease-in;
