@import 'styles/vars.scss';

.about {
  .container {
    margin: 0 5% 200px 10%;
    display: flex;
    overflow: hidden;

    .left {
      flex: 1 1 auto;
      overflow: auto;
    }

    .right {
      flex: 0 0 640px;

      .wrapper {
        position: absolute;
        margin-bottom: 200px;

        img.portrait {
          position: fixed;
          mix-blend-mode: lighten;
          right: 0;
        }
      }
    }

    section {
      margin-bottom: 90px;
    }

    .review {
      font-family: Lora;
      font-size: 27px;
      display: block;
      margin-bottom: 55px;

      .author {
        display: block;
        font-family: Roboto;
        font-size: 18px;
        line-height: 2.0;
      }
    }
  }
}
