@import "styles/vars.scss";

form {
  // padding-bottom: 50px;
  h1 {
    margin-bottom: 0;
  }

  .sub {
    margin-top: 10px;
  }

  label {
    display: block;
    font-size: 10px;
    margin-bottom: 7px;
  }

  input,
  textarea {
    display: block;
    color: $white;
    border: 1px solid $white;
    background-color: $black;
    padding: 8px;
    width: 288px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 23px;
  }

  textarea {
    width: 288px;
  }

  button {
      background:$black;
        width: 170px;
        height: 48px;
        border-radius: 100px;
        border: solid 1px #ffffff;
        border: solid 1px $white;  
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        text-align: center;
        color: #ffffff;
        color: $white;

    &:hover {
      cursor: pointer;
      // background: $white;
      // color: $black;
    }
  }

  // &.coaching {
  //   input,
  //   textarea {
  //     color: $black;
  //     border: 1px solid $black;
  //     background-color: $white;

  //     &::-webkit-input-placeholder {
  //       /* Chrome/Opera/Safari */
  //       color: $grayish;
  //     }
  //     &::-moz-placeholder {
  //       /* Firefox 19+ */
  //       color: $grayish;
  //     }
  //     &:-ms-input-placeholder {
  //       /* IE 10+ */
  //       color: $grayish;
  //     }
  //     &:-moz-placeholder {
  //       /* Firefox 18- */
  //       color: $grayish;
  //     }
  //   }
  //   button {
  //     background: $white;
  //     color: $black;

  //     &:hover {
  //       cursor: pointer;
  //     background: $black;
  //     color: $white;
  //   }
  //   }
  // }
}
