@import 'styles/_colors.scss';

.full-post-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .post-navigation {
    width: 160px;
    z-index: 10;
    position: absolute;

    .nav-content {
      height: 100vh;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .link {
      font-size: 18px;
      text-align: center;
    }

    .post-title {
      font-family: Lora;
      font-size: 27px;
      text-align: center;
    }

    &.nav-prev {
      left: -100px;
      transition: left 0.4s ease;

      &:hover {
        left: 0;

        .link {
          text-decoration: underline;
        }
      }

      .post-title {
        transform: rotate(-90deg);
      }

      .link {
        transform: rotate(-90deg);
      }
    }

    &.nav-next {
      right: -100px;
      transition: right 0.4s ease;

      &:hover {
        right: 0;

        .link {
          text-decoration: underline;
        }
      }

      .post-title {
        transform: rotate(-270deg);
      }

      .link {
        transform: rotate(-270deg);
      }
    }
  }

  .full-post {
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      margin-top: 37px;
      max-height: 512px;
      margin-left: 25%;
      margin-right: 25%;
    }

    .title {
      font-size: 40px;
      font-weight: 900;
      margin-top: 27px;
      margin-left: 25%;
      margin-right: 25%;
    }

    .excerpt {
      font-family: Lora;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 10px;
      margin-left: 25%;
      margin-right: 25%;
    }

    .comment {
      font-family: Roboto;
      font-size: 27px;
      font-weight: 900;
      line-height: 1.33;
      letter-spacing: -0.2px;
      margin-top: 74px;
      margin: 0 20%;
    }

    .audio-widget {
      .audio-title {
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 1.1px;
        color: $greyish-brown;
        margin-top: 75px;
      }

      .audio-spacing {
        width: 1px;
        margin: 0 auto;
        font-size: 0;
        height: 60px;
        background-color: $greyish-brown;
        margin-top: 34px;
        margin-bottom: 28px;
      }
    }

    .head {
      font-family: Lora;
      font-size: 91px;
      line-height: 1.19;
      margin: 95px 10% 0 10%;
    }

    .content {
      font-family: Lora;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 1px;
      margin: 74px 25% 0 25%;
    }
  }
}
