@import 'styles/vars.scss';

.collage-wrapper {
  background-color: red;
  position: relative;
  margin-top: 37px;
  min-height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .background-title {
    position: absolute;
    left: 0;
    right: 0;
    font-family: Lora;
    font-size: 137px;
    line-height: 1.45;
    margin-left: 11.5%;
    margin-right: 11.5%;
    text-align: center;
    color: $supergrey;
    z-index: 0;
  }

  .image-collage {
    background-color: blue;
    position: relative;
    left: 0;
    width: 100%;
    height: 512px;
    margin-left: 20%;
    margin-right: 20%;
    img {
      position: absolute;
      z-index: 10;
    }
    .image-top {
      //original size:  1000px x 520px
      width: 500px;
      height: 360px;
      top: -100px;
      left: 180px;
      z-index: 12;
    }
    .image-middle {
      // original size: 700x550
      width: 350px;
      height: 275px;
      top: 150px;
      left: 430px;
      z-index: 11
    }
    .image-bottom {
      //original size: 550x450
      width: 275px;
      height: 225px;
      left: 252px;
      bottom: -22px;
      z-index: 10;
    }
  }
}
