@import 'styles/vars.scss';

.post-indicator {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .number {
    width: 21px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    color: #000000;
    color: $black;
  }

  .rectangle {
    width: 30px;
    height: 1px;
    transform: rotate(-270deg);
    background-color: #000000;
    background-color: $black;
  }
}
