@import 'styles/vars.scss';
// .single-post-wrapper {
.single-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  img {
    width: 100%
  }

  .title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 6px;
  }

  .headline {
    font-family: Lora;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 35%;
    margin-left: 35%;
  }

  .read-more-link {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
  }
}

// }