@import 'styles/vars.scss';

footer {
  width: 100%;
  height: 95px;
  border-top: 1px solid $grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Roboto;
  z-index: 10;
  padding: 15px;
  text-align: center;

  .impressum {
    flex: auto;
  }

  .copyright {
    flex: auto;
  }

  .mentions {
    flex: auto;
    color: $brownish-grey;
  }
}