@import 'styles/vars.scss';

footer {
  border-top: 1px solid $grey;
  
  h2 {
    text-align: center;
    font-size: 31px;
  }

  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  }

  .meta {
    // width: 100%;
    height: 95px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Roboto;
    z-index: 10;
    // padding: 15px;
    text-align: center;
    
    .impressum {
      padding: 10px;
    }
    
    .copyright {
      padding:10px;
    }
    
    .mentions {
      padding: 10px;
    }
  }
}