@import 'styles/vars.scss';

header {
  width: 100%;
  height: 260px;
  margin-top: -180px;
  transition: margin-top $animation-duration $animation-type;

  &.open {
    margin-top: 0;
  }

  .header-wrapper {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-left: 72px;
    padding-right: 72px;
    align-items: center;

    .icons-wrapper {
      width: 100px;

      .icons {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: flex-start;

        .icon {
          display: block;
          width: 22px;
          height: 22px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 22px;
          font-size: 0;
          margin-right: 19px;
          cursor: pointer;

          &.selected {
            &.overview {
              background-image: url('../../icons/black_multiple_filled.svg');
            }
            &.single {
              background-image: url('../../icons/black_single_filled.svg');
            }
          }

          &.overview {
            background-image: url('../../icons/black_multiple_empty.svg');
          }
          &.single {
            background-image: url('../../icons/black_single_empty.svg');
          }
        }
      }
    }

    .logo-container {
      flex: 1;
      text-align: center;
      font-size: 50px;
      cursor: pointer;
      .logo {
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        display: block;
        width: 154px;
        height: 29px;
        margin: 0 auto;        
        background-image: url('../../images/ela_white.svg');        
      }
    }

    .links {
      justify-content: flex-end;
      text-align: right;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: normal;
      display: flex;
      align-items: center;

      a {
        margin-left: 36px;
        border-bottom: 2px solid transparent;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $white;
        }
      }
      a:first-of-type {
        margin-left: 0;
      }
    }
  }

  &.header-writting {
    background-color: $black;
    color: $white;
  }
}
