@import 'styles/vars.scss';

header {
  width: 100%;
  height: 260px;

  .section-selector {
    display: flex;
    align-items: center;
    margin-top: -180px;
    transition: margin-top $animation-duration $animation-type;

    &.open {
      margin-top: 0;
    }

    .section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 180px;
      cursor: pointer;
      transition: flex $animation-duration $animation-type;

      &:hover {
        flex: 2;
      }
    }

    .writing-section {
      font-family: Roboto;
      font-size: 44px;
      font-weight: 900;
      color: $white;
      background-color: $superblack;
    }

    .coaching-section {
      font-family: Lora;
      font-size: 44px;
      color: $black;
      background-color: $white;
    }
  }

  .header-wrapper {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-left: 72px;
    padding-right: 72px;
    align-items: center;

    .icons-wrapper {
      width: 100px;

      .icons {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: flex-start;

        .icon {
          display: block;
          width: 22px;
          height: 22px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 22px;
          font-size: 0;
          margin-right: 19px;
          cursor: pointer;

          &.overview {
            background-image: url('../../icons/overview.svg');
          }

          &.single {
            background-image: url('../../icons/single.svg');
          }
        }
      }
    }

    .logo-container {
      flex: 1;
      text-align: center;
      font-size: 50px;
      cursor: pointer;
      .logo {
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        display: block;
        width: 154px;
        height: 29px;
        margin: 0 auto;        
        background-image: url('../../images/ela_white.svg');        
      }
    }

    .links {
      justify-content: flex-end;
      text-align: right;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: normal;
      display: flex;
      align-items: center;

      a {
        margin-left: 36px;
        border-bottom: 2px solid transparent;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $white;
        }
      }
      a:first-of-type {
        margin-left: 0;
      }
    }
  }

  &.header-writting {
    background-color: $black;
    color: $white;
  }
}
