@import "styles/vars.scss";

.post-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 74px;
    width: 100vw;
    transition: top $animation-duration $animation-type;
    z-index: 100;
    background-color: $black;
    border-bottom: 0.5px solid $pinkish-grey;

    &.no-show {
        top: -74px;
    }

    .left-side {
        margin-left: 10%;
        margin-top: 20px;

        .currently-reading {
            font-family: Roboto;
            font-size: 10px;
            letter-spacing: 0.8px;
            color: $white;
        }

        .post-title {
            font-family: Lora;
            font-size: 18px;
            color: $white;
        }
    }
}
