@import "styles/vars.scss";

.post-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 74px;
    width: 100vw;
    transition: top $animation-duration $animation-type;
    z-index: 100;
    background-color: $black;
    border-bottom: 0.5px solid $pinkish-grey;

    &.no-show {
        top: -74px;
    }

    .box {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10% 0 10%;
    

        .left-side {
            flex: 1;
            
            .currently-reading {
                font-family: Roboto;
                font-size: 10px;
                letter-spacing: 0.8px;
                color: $white;
            }
            
            .post-title {
                font-family: Lora;
                font-size: 18px;
                color: $white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        .right-side {
            flex: 1;
            text-align: right;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            align-items: center;

            .text {
                color: $white;
            }
            
            .rect {
                position: relative;
                top: 0;
                left: 0;
                        
                .rect1 {
                    position: absolute;
                    bottom: -7px;
                    left: 16px;
                    width: 2px;
                    height: 14px;
                    transform: rotate(-45deg);
                    background-color: #1b1b1b;
                    background-color: $white;
                } 
                
                .rect2 {
                    position: absolute;
                    bottom: -7px;
                    left: 16px;
                    width: 2px;
                    height: 14px;
                    transform: rotate(45deg);
                    background-color: #1b1b1b;
                    background-color: $white;
                }  
            }
        }
    }
}
    