.reviews {
  .review {
      margin-bottom: 30px;
      
    .content {
      font-family: Lora;
      font-size: 22px;
      display: block;
    }

    .author {
      display: block;
      font-family: Roboto;
      font-size: 18px;
      line-height: 2;
    }
  }
}
