body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Lora', sans-serif;
  font-size: 18px;
  margin-bottom: 55px;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 61px;
}

button:focus {
  outline: none;
}
